body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.swim-lanes {
  min-height: 60vh;
}

.task-card {
  margin: 0 auto;
}

.task-card:hover {
  cursor: grab;
}


button.close > span {
  font-size: 2rem;
  line-height: 1rem;
}

/* .card-header {
  background-color: transparent;
} */

.card-body.bg-light {
  padding: 1rem 3rem;
}

li.card:hover {
  cursor: pointer;
}

#todo-cards, #in-progress-cards, #done-cards {
  width: 100%;
  min-height: 20px;
  list-style-type: none;
  margin: 0;
  padding: 5px 0 0 0;
  float: left;
  margin-right: 10px;
}
#todo-cards li, #in-progress-cards li, #done-cards li {
  font-size: 1.2em;
  width: 100%;
  margin: 1rem 0;
}

.before, .today {
  color: white;
  .card-header {
    background-color: transparent;
  }
}

li.today {
  background-color: rgb(233 202 0);
  border-color: rgb(233 202 0);
}

li.before {
  background-color: #e36044;
  border-color: #e36044
}

li.future {
 
}